body {
  margin: 0;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16pt;
}

canvas {
  display: block;
}

label {
  display: block;
}

#toggle-controls {
  position: absolute;
  top: 24px;
  left: 24px;
}

#controls {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(128, 128, 128, 0.7);
  top: 64px;
  left: 24px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 300px;
  padding: 24px;
}

.points-container, #points {
  width: 100%;
}

.points-container {
  margin-bottom: 24px;
}

.hidden {
  display: none!important;
}
